{% extends "base.html" %}


{% block title %}Inicio - HouseMaster{% endblock %}

{% block content %}
<div class="text-center py-5">
    <h1 class="display-4 fw-bold">🏡 Bienvenido a HouseMaster</h1>
    <p class="lead mt-3">
        Encuentra la propiedad de tus sueños con nosotros.<br>
        Casas, apartamentos y mucho más en un solo lugar.
    </p>
    <a href="{% url 'propiedades' %}" class="btn btn-primary btn-lg mt-4">
        Ver Propiedades
    </a>
</div>
{% endblock %}
#python manage.py run server Houemaster/templates/base.html